
<form action="/api/sessions/login" method="post">
{{#if error}}
<div style="color: red;"> {{error}} </div>
{{/if}}
  <input type="email" name="email" placeholder="email" value="{{user}}"/>
  <input type="password" name="password" placeholder="Contraseña"/>
  <input type="submit" value="enviar">
</form>